*{
    background-color: rgb(209, 225, 241);
}

#nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 24px;
    gap: 40%;
    background-color: teal;
    height: 50px;
    text-align: center;
    /* padding: 10px; */
    width: 100%;
    
}

#nav-links{
    gap: 20px;
    text-decoration: none;
    color: white;
    background-color: teal;
    margin: 10px;
}
#logo{
    background-color: teal;
    color: white;
    margin: 10px;
}

#form{
    width: 230px;
    height: 20vh;
    align-items: center;
    justify-content: center;
    margin: 10%;
    font-size: 30px;
    padding: 20px;
    color: teal;
   border: 2px solid teal;
   padding: 30px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}